#jinja2: newline_sequence:'\r\n'
version: '3.2'

services:

{% for service in vars.services %}
  {{ service.name }}:
    build: ./{{ service.name }}
{% if service.map_to_same_port_on_host is defined %}
    ports:
         - "{{ service.port }}:{{ service.port }}"
{% else %}
    ports:
         - "{{ service.port }}"
{% endif %}
    tty:
      true
{% endfor %}

networks:
 default:
  external:
   name: "nat"