Vagrant.configure("2") do |config|
  config.vm.box = "windows_1709_docker_multi"
  config.vm.guest = :windows

  config.windows.halt_timeout = 15

  # Configure Vagrant to use WinRM instead of SSH
  config.vm.communicator = "winrm"

  # Configure WinRM Connectivity
  config.winrm.username = "vagrant"
  config.winrm.password = "vagrant"

end