#jinja2: newline_sequence:'\r\n'
version: '3.1'

services:

{% for service in vars.services %}
  {{ service.name }}:
    build: ./{{ service.name }}
{% if service.map_port_to_host is defined %}
    ports:
         - "{{ service.port }}:{{ service.port }}"
{% endif %}
    tty:
      true
{% endfor %}

networks:
 default:
  external:
   name: "nat"